
<div class= "container">
<h1>About</h1>
<p>The Greek words daimon and daimonion express a determining power which comes upon man from outside, like providence or fate, though the ethical decision is left to man. He must know, however, what he is deciding about and what he is doing. Then, if he obeys he is following not just his own opinion, and if he rejects he is destroying not just his own invention <br>~Carl Jung, CW 9ii, Para 51</p>

<%=link_to "Back", root_path, class: "btn btn-primary"%>
</div>

